---
http_interactions:
- request:
    method: post
    uri: https://api.blockcypher.com/v1/bcy/test/addrs?token=<api_token>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '186'
    body:
      encoding: UTF-8
      string: |-
        {
          "private": "8bae0c4ce609e94254040a942149290548feec158b7f0a60284ff2564f5d02a0",
          "public": "0268f766cd3bc58bbef0ebd08a58d00dfa69946c4625b8ad0ca37e3b9b0fdb69a8",
          "address": "CA9r6ndZWxUvvmbPYhVn9QHdeRS5ajWKSV",
          "wif": "Bt1Ys8KKDx6Ax5EVyvsv87VhhofSHJHFvDpLe79kFw8UrxCa9n9b"
        }
  recorded_at: Tue, 25 Oct 2016 06:35:41 GMT
[...]
- request:
    method: post
    uri: https://api.blockcypher.com/v1/bcy/test/txs/new?token=<api_token>
    body:
      encoding: UTF-8
      string: '{"inputs":[{"addresses":["CA9r6ndZWxUvvmbPYhVn9QHdeRS5ajWKSV"]}],"outputs":[{"addresses":["CB8yB1Z4hQorCxktksHshHMQNSrqNB51fc"],"value":10000}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '183'
    body:
      encoding: UTF-8
      string: |-
        {
          "errors": [
            {
              "error": "Unable to find a transaction to spend for address CA9r6ndZWxUvvmbPYhVn9QHdeRS5ajWKSV."
            },
            {
              "error": "Not enough funds in 0 inputs to pay for 1 outputs, missing -10000."
            },
            {
              "error": "Not enough funds after fees in 0 inputs to pay for 1 outputs, missing -16200."
            },
            {
              "error": "Error validating generated transaction: Transaction missing input or output."
            }
          ],
          "tx": {
            "block_height": -1,
            "block_index": -1,
            "hash": "df4f2ee0c21ea6188aef3178c6a2eabb12370fa7b316fc1328ca07bca9402e42",
            "addresses": [
              "CB8yB1Z4hQorCxktksHshHMQNSrqNB51fc"
            ],
            "total": 10000,
            "fees": 0,
            "size": 44,
            "preference": "low",
            "relayed_by": "49.147.26.15",
            "received": "2016-10-25T06:35:43.52179618Z",
            "ver": 1,
            "lock_time": 0,
            "double_spend": false,
            "vin_sz": 0,
            "vout_sz": 1,
            "confirmations": 0,
            "inputs": [],
            "outputs": [
              {
                "value": 10000,
                "script": "76a914c5934f647fed62615424b25cd0dcdb8467ae1b5188ac",
                "addresses": [
                  "CB8yB1Z4hQorCxktksHshHMQNSrqNB51fc"
                ],
                "script_type": "pay-to-pubkey-hash"
              }
            ]
          }
        }
  recorded_at: Tue, 25 Oct 2016 06:35:43 GMT
recorded_with: VCR 3.0.3
