---
http_interactions:
- request:
    method: post
    uri: https://api.blockcypher.com/v1/bcy/test/addrs?token=<api_token>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '186'
    body:
      encoding: UTF-8
      string: |-
        {
          "private": "203ec39df399ebc4a2a7f4cf3aae689cb810f63dce2393cfc203767795b991b0",
          "public": "035a9b2851abf125d1eb2ccffd6360c108b705a753abda1d7fa957951c54b10d0a",
          "address": "Bz1kdFmvRP3sxw3YTG1iz6Q1xvFSV3taLd",
          "wif": "BpQiCeoPkejjPHD3c6ijkEw4SN1PjwzZzE6d1U6TSxF8akF4YirN"
        }
  recorded_at: Tue, 25 Oct 2016 06:35:50 GMT
- request:
    method: post
    uri: https://api.blockcypher.com/v1/bcy/test/payments?token=<api_token>
    body:
      encoding: UTF-8
      string: '{"destination":"Bz1kdFmvRP3sxw3YTG1iz6Q1xvFSV3taLd","callback_url":"http://test.com/foo","enable_confirmations":false}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '180'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "94f44d55-8155-458d-b3b9-142084c1ad5e",
          "token": "<api_token>",
          "destination": "Bz1kdFmvRP3sxw3YTG1iz6Q1xvFSV3taLd",
          "input_address": "CD3jhqqaS8QvaNG7aVzPUGuWbFhdHknRkR",
          "callback_url": "http://test.com/foo"
        }
  recorded_at: Tue, 25 Oct 2016 06:35:52 GMT
recorded_with: VCR 3.0.3
