---
http_interactions:
- request:
    method: post
    uri: https://api.blockcypher.com/v1/bcy/test/addrs?token=<api_token>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '187'
    body:
      encoding: UTF-8
      string: |-
        {
          "private": "bf3f100f90443f6b6dcaa55420bbf8c232978108d8689074c96391a79704ce5b",
          "public": "031574fb8e2b683bea793b95d0a8a38d69ecf9a06cd7f643454eb9d4d906fed021",
          "address": "BxxtivRxGuCeH5WjwzzRB2iiBtNU3w2qzc",
          "wif": "BujnhL4rRfLWZ518JKMgsKNUUHh2MHncJSesauoa1hqSWT1DdsA8"
        }
  recorded_at: Tue, 25 Oct 2016 06:35:37 GMT
[...]
- request:
    method: post
    uri: https://api.blockcypher.com/v1/bcy/test/txs/new?token=<api_token>
    body:
      encoding: UTF-8
      string: '{"inputs":[{"addresses":["BxxtivRxGuCeH5WjwzzRB2iiBtNU3w2qzc"]}],"outputs":[{"addresses":["Bv36KLaVDoa2zEFhrhb6L3MY8Q1wxei9Fk"],"value":20000}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '187'
    body:
      encoding: UTF-8
      string: |-
        {
          "errors": [
            {
              "error": "Unable to find a transaction to spend for address BxxtivRxGuCeH5WjwzzRB2iiBtNU3w2qzc."
            },
            {
              "error": "Not enough funds in 0 inputs to pay for 1 outputs, missing -20000."
            },
            {
              "error": "Not enough funds after fees in 0 inputs to pay for 1 outputs, missing -26200."
            },
            {
              "error": "Error validating generated transaction: Transaction missing input or output."
            }
          ],
          "tx": {
            "block_height": -1,
            "block_index": -1,
            "hash": "0b01cf6dfd07f7fb1ddfd1c3082102b6b2c1dffc4f6ec0c4313cbea29e1e7446",
            "addresses": [
              "Bv36KLaVDoa2zEFhrhb6L3MY8Q1wxei9Fk"
            ],
            "total": 20000,
            "fees": 0,
            "size": 44,
            "preference": "low",
            "relayed_by": "49.147.26.15",
            "received": "2016-10-25T06:35:39.722334707Z",
            "ver": 1,
            "lock_time": 0,
            "double_spend": false,
            "vin_sz": 0,
            "vout_sz": 1,
            "confirmations": 0,
            "inputs": [],
            "outputs": [
              {
                "value": 20000,
                "script": "76a9141fece4093456039701d0574cbdcf61e17c91c71388ac",
                "addresses": [
                  "Bv36KLaVDoa2zEFhrhb6L3MY8Q1wxei9Fk"
                ],
                "script_type": "pay-to-pubkey-hash"
              }
            ]
          }
        }
  recorded_at: Tue, 25 Oct 2016 06:35:39 GMT
recorded_with: VCR 3.0.3
