---
http_interactions:
- request:
    method: post
    uri: https://api.blockcypher.com/v1/bcy/test/oap/addrs?token=<api_token>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '179'
    body:
      encoding: UTF-8
      string: |-
        {
          "private": "7ac4a4899444c04253d731ad792e4c287e022d199560d14c638c4935cd8ae1ff",
          "public": "023e05052f7c9ba4f341649237ebbe901bf9c5968b656239115c72ed15d743e860",
          "oap_address": "1C1f946JkAnYYQUEr45YLjUDFB16nT4oR2j",
          "original_address": "C1f946JkAnYYQUEr45YLjUDFB16nQAKtrh",
          "wif": "BsSgAH7YPHMmWgryXLAnkUvJTLruvLQx7drWefhiiMTWqLCMRq3H"
        }
  recorded_at: Tue, 25 Oct 2016 06:36:08 GMT
recorded_with: VCR 3.0.3
